.my-card-styling {
    margin:0.5rem; 
    padding:0.5rem;
}

@media screen and (max-width: 992px) {
    .my-nav-contact-links {
        visibility: none;
        display: none;
    }

    .my-nav-link {
        text-align: center;
    }
  }
  
.my-nav-link:hover {
    background-color: rgb(0, 115, 255);
}